@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');@import "tailwindcss";



@theme {
  --font-rokkit: "Rokkitt", "serif"; 
  --font-poppins: "Poppins", "sans-serif"; 
  --font-sans: "Inter", "sans-serif";


  --color-border: #EFEFEF;
  --color-okgreen: #E9FFE6;
  --color-okgreenborder: #0FAD00;
  --color-badred: #FFE7E6;
  --color-badredborder: #FF877F;
  --color-pendingorangeborder: #FFA872;
  --color-pendingorange: #FFE6D7;
  --color-grayborder: #999696;
  --color-graybg: #F0F0F0;
  --color-graybg1: #f0f2f5;
}