        <!-- Sidebar -->
        <div class="fixed h-screen bg-[#FFFFFF] w-[24rem] flex flex-col px-10 py-10">
        
            <div class="w-full">
                <p class="font-rokkit text-3xl">JettCRM.</p>
                <br>
                <div class="font-poppins">
                    <p>Menu</p>
                </div>
            </div>

            <div class="flex flex-col w-full mt-4 space-y-4 flex-grow overflow-y-auto font-poppins">
                <a href="/projects" class="h-12 w-full flex flex-row items-center justify-start gap-5 px-5 rounded-lg text-[#3A3A3A] hover:bg-gradient-to-r from-[#fac3ff46] to-[#00d9ff42] hover:font-medium cursor-pointer">
                    <i class="fa-solid fa-clipboard"></i>
                    <p>Manage Projects</p>
                </a>
                <a href="/team" class="h-12 w-full flex flex-row items-center justify-start gap-5 px-5 rounded-lg text-[#3A3A3A] hover:bg-gradient-to-r from-[#fac3ff46] to-[#00d9ff42] hover:font-medium cursor-pointer">
                    <i class="fa-solid fa-user"></i>
                    <p>Manage Team</p>
                </a>
                <div class="h-12 w-full flex flex-row items-center justify-start gap-5 px-5 rounded-lg text-[#3A3A3A] hover:bg-gradient-to-r from-[#fac3ff46] to-[#00d9ff42] hover:font-medium cursor-pointer">
                    <i class="fa-solid fa-receipt text-lg text-[#A3A3A3]"></i>
                    <p>Invoice Generator</p>
                </div>
                <div class="h-12 w-full flex flex-row items-center justify-start gap-5 px-5 rounded-lg text-[#3A3A3A] hover:bg-gradient-to-r from-[#fac3ff46] to-[#00d9ff42] hover:font-medium cursor-pointer">
                    <i class="fa-solid fa-envelope text-lg text-[#A3A3A3]"></i>
                    <p>Send E-mails</p>
                </div>
                <div class="h-12 w-full flex flex-row items-center justify-start gap-5 px-5 rounded-lg text-[#3A3A3A] hover:bg-gradient-to-r from-[#fac3ff46] to-[#00d9ff42] hover:font-medium cursor-pointer">
                    <i class="fa-solid fa-dollar-sign text-lg text-[#A3A3A3]"></i>
                    <p>Revenue Dashboard</p>
                </div>
                <a href="/calendar" class="h-12 w-full flex flex-row items-center justify-start gap-5 px-5 rounded-lg text-[#3A3A3A] hover:bg-gradient-to-r from-[#fac3ff46] to-[#00d9ff42] hover:font-medium cursor-pointer">
                    <i class="fa-solid fa-calendar-days text-lg text-[#A3A3A3]"></i>
                    <p>Calendar/Meetings</p>
                </a>
            </div>

            <div class="flex flex-col w-full mt-4 space-y-4 font-poppins">
                <div class="h-12 w-full flex flex-row items-center justify-start gap-5 px-5 rounded-lg text-[#3A3A3A] hover:bg-gradient-to-r from-[#fac3ff46] to-[#00d9ff42] hover:font-medium cursor-pointer">
                    <i class="fa-solid fa-gear text-[#A3A3A3]"></i>
                    <p>Settings</p>
                </div>
                <div class="h-12 w-full flex flex-row items-center justify-start gap-5 px-5 rounded-lg text-[#3A3A3A] hover:bg-gradient-to-r from-[#fac3ff46] to-[#00d9ff42] hover:font-medium cursor-pointer">
                    <i class="fa-solid fa-headset text-lg text-[#A3A3A3]"></i>
                    <p>Help & Support</p>
                </div>
            </div>

        </div>